@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;400&display=swap");

body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;

}

h1 {
    background: radial-gradient(circle, #F48FB1 0%,  #CE93D8 20%, #B2EBF2 40%, #A5D6A7 60%, #B39DDB 100%);
    color: transparent;
    background-size: 400%;
    font-family: Open Sans, sans-serif;
    font-size: 100px;
    font-weight: 100;
    -webkit-background-clip: text;
    animation: gradient 10s linear infinite;
    letter-spacing: 1rem;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 1.3rem;
        padding-left: 1rem;
        
    }
}